body {
    background-color: #f4f7fa;
    color: #333;
}

.sidebar .css-vfskoc {
    background-color: #007bff;
}

.st-d0 .st-cg .st-bp {
    background-color: #ffffff;
    border: 1px solid #c8d1e0;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.st-cc {
    color: #007bff;
}

.st-cg button {
    background-color: #007bff;
    color: #ffffff;
}

.st-ct {
    color: #007bff;
}

.st-ct a {
    color: #007bff;
}

.st-d0 .st-cg .st-bp button {
    margin-top: 10px;
}

.st-bb {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
